@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* make the header content and footer gow in columns and space in between */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* make buttons puffier */
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* changes */


/* display box layout */
* {
  /* border: solid; */
}

/* turn off list styling */
li, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* link styling off  */
a {
  text-decoration: none;
  color: black;
}

/* space between the header and footerlinks, padding  */
.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* links in row, gap between links, margin around the links !padding is better  */
.left-links, .right-links {
  display: flex;
  gap: 20px;
  /* margin: 20px; */

}

/* arrange content in a centered column  */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* flex: 1; */

  /* gap: 16px; */
}

/* change footer color  */
.footer {
  background-color: gainsboro;
}

/* this code doesn't do anything except put gaps in, which are already there */
/* .buttons {
  display: flex;
  gap: 5px;
  /* making buttons puffier this way doesn't work  */
  /* margin: 5px; */
} */